.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rm;
    background-color: black;
    color: red;
}

#name{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: red;
}



ul {
    display: flex;
    gap: 2rem;
    margin-right: 500px;
    color:  red;
    
}

.main{
 display: flex;
 padding: 5% 10%;
 justify-content: space-between;
 align-items: center;
background-color: black;
color:red;
}

.intro{
    height: 320px;
}

p{
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img{
    height: 320px;
}

h1{
    text-align: center;
    color:red;
}

.TOP-images{
    display: flex;
    height: auto;
    width: 250%;

}
.container3{
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    font-style: italic;

}
h2{
    font-weight: bold;
    text-align: end;
    font-size: 18px;
}


   
 
    
  
    




